.post{
    border-left: 2px solid orange;
    padding: 15px;
    margin: 55px 15px;
    padding: 20px 20px 0px 20px;
}

.user{
    width: 40px; /* width of container */
    height: 40px; /* height of container */
    object-fit: cover;
    display: inline;
    border-radius: 1000px;
    border: 2px solid orange;
}

.up_cont{
    display: flex;
}

.info{
    display: inline;
    margin: 5px;
}

.name{
    color: black;
    margin: 5px;
}

.time{
    color: rgb(104, 104, 104);
    margin: 5px;
    font-size: 10px;
}

.post_img{
    height: 250px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: all 0.5s;
}

.post_img:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 10px 120px 0 rgba(0, 0, 0, 0.37);
}

.title{
    font-size: 1.2em;
    padding: 10px 0px 0px 0px;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

.body{
    padding: 0px 0px;
    color: rgb(95, 95, 95);
}

.number{
    display: inline;
    color: orange;
    margin: 5px;
}

.like{
    border: none;
    background-color: white;
    color: orange;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px;
}

.like:hover{
    background-color: orange;
    color: white;
}

.full{
    border: none;
    margin: 5px 10px;
    background-color: #FFF1D6;
    color: orange;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.full:hover{
    background-color: orange;
    color: white;
    
}

.delete{
    color: red;
    cursor: pointer;
    /* width: 100%; */
    margin-left: 90%;
}

.content{
    border-bottom: 1px solid rgb(201, 201, 201);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.cmmnt_cont{
    margin: 10px 0px 0px 0px;
}

.cmmnt{
    padding: 5px 10px;
   
    width: 40%;
    border: 2px solid orange;
    border-radius: 50px;
    color: rgb(102, 102, 102);
    /* vertical-align: middle */
}

.send{
    display: inline;
    background-color: white;
    color: orange;
    border: none;
    font-size: 30px;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0px 0px 20px;
}